# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- Some of the commonly used libraries used by Data Scientists
- A few examples of evaluating arithmetic expressions in

Some of the popular languages that Data Scientists use are:
1. SQL
2. Python
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. Seaborn

|Data Science Tools|
|--------------------|
|Jupyter Notebooks|
|RStudio|
|Google Colab|

### Below are a few examples of evaluating arithmetic expressions in Python:

In [4]:
#  This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Doan Ngoc Thuong